<section class="banner  banner--content wrapper">
  <div class="banner__media">
    <img />
  </div>
  <div class="row">
    <div class="banner__header medium-4 columns">
      <h1 class="headline headline--alpha"></h1>
    </div>
    <div class="banner__copy copy medium-8 columns">
      <p></p>
    </div>
  </div>
</section>