<section class="content  wrapper">
  <div class="row">
    <div class="content__header medium-6 medium-centered columns">
      <h1 class="headline headline--alpha"></h1>
    </div>
    <div class="content__copy copy medium-6 columns">
      <hgroup class="content__header-group">
        <h2 class="headline headline--stylized"></h2>
        <h3 class="headline headline--beta"></h3>
      </hgroup>
      <p></p>
    </div>
    <div class="content__copy copy medium-6 columns">
      <hgroup class="content__header-group">
        <h2 class="headline headline--stylized"></h2>
        <h3 class="headline headline--beta"></h3>
      </hgroup>
      <p></p>
    </div>
  </div>
</section>