<section class="content  wrapper">
  <div class="row">
    <div class="content__header small-12 columns">
      <h1 class="headline headline--alpha">Why Terracotta Industries?</h1>
    </div>
    <div class="content__copy copy copy--highlight small-6 large-3 columns">
      <p><span class="headline headline--huge l-block">25</span> <span class="headline headline--beta l-block">Years of combined experience</span></p>
    </div>
    <div class="content__copy copy copy--highlight small-6 large-3 columns">
      <p><span class="headline headline--huge l-block">550K+</span> <span class="headline headline--beta l-block ">Products over the last 12 months</span></p>
    </div>
    <div class="content__copy copy medium-10 medium-centered large-5 large-uncentered large-push-1 columns">
      <p>Terracotta Industries is a procurement service partner with an intense focus on customer service. We make your vision a reality by finding overseas manufacturing options to meet your design and quality requirements – at the most competitive price.</p>
    </div>
  </div>
</section>