<footer class="footer  wrapper">
  <div class="row">
    <div class="footer__header visually-hidden">
      <h1 class="headline">Footer</h1>
    </div>
    <nav class="nav medium-6 columns">
      <ul class="list">
        <li class="list__item"><a href="#"></a></li>
        <li class="list__item"><a href="#"></a></li>
        <li class="list__item"><a href="#"></a></li>
      </ul>
    </nav>
    <nav class="nav nav--centered small-12 columns">
      <ul class="list list--social">
        <li class="list__item list__item--facebook"><a href="#">Facebook</a></li>
        <li class="list__item list__item--twitter"><a href="#">Twitter</a></li>
        <li class="list__item list__item--linkedin"><a href="#">LinkedIn</a></li>
      </ul>
    </nav>
  </div>
</footer>
