<section class="form  wrapper" id="contact">
  <div class="row">
    <div class="form__header medium-6 medium-centered columns">
      <h1 class="headline headline--alpha">Contact us</h1>
    </div>
    <form class="form__elements" accept-charset="UTF-8" action="https://formkeep.com/f/9e2f5e577aab" method="POST">
      <span class="form__input medium-6 columns">
        <input type="text" name="first_name" placeholder="first name" required validate>
      </span>
      <span class="form__input medium-6 columns">
        <input type="text" name="last_name" placeholder="last name" required validate>
      </span>
      <span class="form__input medium-6 columns">
        <input type="email" name="email" placeholder="email" required validate>
      </span>
      <span class="form__input medium-6 columns">
        <input type="text" name="subject" placeholder="subject" required validate>
      </span>
      <span class="form__textarea small-12 columns">
        <textarea name="message" placeholder="message" required></textarea>
      </span>
      <span class="form__button medium-6 medium-centered columns">
        <button class="button" type="submit">Submit</button>
      </span>
    </form>
    <div class="form__confirmation medium-6 medium-centered columns" style="display:none;">
      <p>Thanks for contacting us. We've received your message and we’ll get back to you shortly.<p>
    </div>
  </div>
</section>