<header class="header  wrapper">
  <div class="row">
    <section class="logo small-6 columns">
      <img />
    </section>
    <nav class="nav nav--header nav--right small-6 columns">
      <ul class="list">
        <li class="list__item"><a class="js-contact" data-target="#contact" href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>