<section class="hero  wrapper">
  <div class="hero__media">
    <img />
  </div>
  <div class="row">
    <div class="hero__copy copy medium-9 large-7 medium-centered columns">
      <h1 class="headline headline--alpha"></h1>
      <p></p>
    </div>
  </div>
</section>